$primary-bg-color: linear-gradient(-45deg, rgb(188, 188, 29),
 rgb(168, 205, 18),
  rgb(14, 117, 234)) 0 0 /300%;
$search-btn-color: rgb(22, 100, 216);
$primary-white-color: #fff;
$to-top-btn-bg-color:rgb(14, 131, 28);
$yellow-color:#dcdc39;
